<html
				xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
				xmlns:i="http://typo3.org/ns/JWeiland/Iframecache/ViewHelpers"
				data-namespace-typo3-fluid="true"
>
<f:layout name="Default" />
<f:section name="Main">
	<f:if condition="{conf.mode} == 'iframe'">
		<f:then>
			<iframe src="{src}" id="wallio-iframe" class="wallsio-iframe" allowfullscreen style="border: 0; width: 100%; height: 995px;"></iframe>
		</f:then>
		<f:else>
			<script src="{jsScript}" {jsAttributes -> i:buildTagAttributes()}></script>
		</f:else>
	</f:if>
</f:section>
</html>
